.brand{
    padding-left: 4%;
  padding-top: 10px;
 
  }
  .head{
   background-image: url("../assets/book.jpg");
   background-size: auto;
  background-repeat: no-repeat;
  display: flex;
  justify-content:space-between;
  min-width: 500px;
  }
  #btn{
  width: 100%;
  color: black;
  }
  .btn-book{ 
    padding: 20px;
  }